*.bld
*.cmd_log
*.csv
*.html
iseconfig/
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
_ngo/
*.ngr
*.pad
*_pad.txt
*.par
*.pcf
*.prj
*.ptwx
spdif-convert.gise
*.stx
.*.swp
*.syr
*.twr
*.twx
*.unroutes
*.vhi
webtalk_pn.xml
xlnx_auto*/
*.xml
_xmsgs/
*.xpi
*.xrpt
*.xst
xst/
