*.bgn
*.bit
*_bitgen.xwbt
*.bld
*.cmd_log
*.csv
*.drc
*.html
iseconfig/
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
_ngo/
*.ngr
*.pad
*_pad.txt
pa.fromNcd.tcl
*.par
*.pcf
planAhead_run_*/
*.prj
*.ptwx
spdif-convert.gise
*.stx
.*.swp
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.vhi
webtalk_pn.xml
*.xdl
.Xil/
xlnx_auto*/
*.xml
_xmsgs/
*.xpi
*.xrpt
*.xst
xst/
